<<<<<<< Updated upstream
.container{
    padding: 5px;
    background-color: yellow ;
    color: black;
    border-radius: 12px;
    
}
=======
.container{
    padding: 5px;
    background-color: yellow ;
    color: black;
    border-radius: 12px;
    
}
>>>>>>> Stashed changes
